{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions type 2
    </h3>

    <p  style="text-align:justify">
       Energy Conservation. Now, we will introduce you to a game simulating a household energy conservation challenge.
        Household energy use is an important contributor to many environmental problems including local and international
        air pollution and global warming. Many groups are seeking ways to encourage communities to use less energy.
        This experiment will simulate this type of exercise.
    </p>
    <p>
        Rules of play. In this game, there are 20 players who represent people living in the same apartment building.
        Thus, in addition to you, there are 19 other players. The building is trying to meet a collective energy
        conservation goal of reducing its annual energy use by 20% through the actions of residents. Every player
        faces the same decision-making problem. At the beginning of the experiment, you will receive a $20 in your
        private account. During the experiment, you can use money from your account or not. In the end, your account
        balance will be paid out to you in cash. You will be making your decisions anonymously. During the course of
        the experiment, you will be playing exactly 12 rounds equivalent to 12 months in a year. In each round, you
        can invest some of your money into the community’s attempt to reduce energy consumption. Thus, in each round
        of the game, all 20 players will be asked simultaneously, “How much do you want to invest into energy conservation?”
    </p><p>
        Possible answers are $0, $.50, or $1.
        Only when each player has made his choice will all decisions be displayed simultaneously.
        After that, the computer will credit all invested amounts to an account for energy conservation (“conservation account”).
        At the end of the game (after exactly 12 rounds), the computer will compare the conservation account balance
        with the predetermined goal ($120). This amount is required to make the investments needed to reduce the buildings
        energy consumption by 20%. It will be earned if every player pays, on average, $.50 per round into the conservation
        account. If the necessary amount of $120 has been earned, all players will be paid out the amount remaining in their
        private accounts as well as a group incentive (2) where the investment will be three x the conservation account
        total in a program to increase use of renewable energy such as solar and wind power. If the conservation account
        has not reached the necessary amount of $120, no additional incentive payment will be made from the conservation
        account. All payouts will be made anonymously. Your fellow players will not learn your identity.

    </p>
</div>

    <div align="right">
      {% next_button %}
    </div>

{% endblock %}