{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Round {{ player.round_number }}
    <div align="right"><p style="font-size:18px;">{{ player.round_number }}/{{ Constants.num_rounds }}</p></div>
{% endblock %}

{% block content %}

    <p style="font-size:18px;">Money in your private account: <span><b> {{ endowment }} </b></span></p>
    <p style="font-size:18px;color:blue;">{{ injunctive_text }}</p>
    {% formfield player.savings%}
    <br>
    <br>
    <div align="right">{% next_button %}</div>
Code: {{ session.code }}::::{{ player.participant.code }}
{% endblock %}
