{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Your final results:
{% endblock %}

{% block content %}
    Total conservation fund contributions for the group:  {{ group_savings }}<br>
    This did (did not) meet the group goal of {{ goal }}. <br>
    The bonus each member receives for meeting the goal: {{ s }}<br>
    Remaining money in your private account: {{ endowment}}<br>
    Additional payment for the pre- and post-game surveys: <br>
    Total pay to you: {{ total }}<br>

    Before you receive your pay, you will need to answer a few more questions!

    {% next_button %}
{% endblock %}


