{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Your final results:
{% endblock %}

{% block content %}
    Total conservation fund contributions for the group:  {{ group_savings }}<br>
    {% if group_savings < goal %}
    This did not meet the group goal of {{ goal }}. <br>
    {% else %}
    This did meet the group goal of {{ goal }}. <br>
    {% endif %}
    <br>
    <table>
        <tr><td>The bonus each member receives for meeting the goal:  </td><td> <p style="margin-left: 15px;">{{ s }}</p>       </td></tr>
        <tr><td>Remaining money in your private account:              </td><td> <p style="margin-left: 15px;">{{ endowment}}</p> </td></tr>
        <tr><td>Additional payment for the pre- and post-game surveys:</td><td> <p style="margin-left: 15px;">{{ ans }} </p>     </td></tr>
        <tr style="border-style:solid;border-width: 1px 0px 0px 0px;"><td>Total pay to you:       </td><td> <p style="margin-left: 15px;">{{ total }}</p>   </td></tr>
</table>
    <br>
    Before you receive your pay, you will need to answer a few more questions!
<br>
    <br>
    <br>
        <div align="right">
      {% next_button %}
    </div>
    Code: {{ session.code }}::::{{ player.participant.code }}
{% endblock %}


