{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz 2
{% endblock %}

{% block content %}

    1. People often express concern about environmental problems, but some people differ as to which consequences concern them the most. We are going to list different areas where environmental problems could have harmful consequences.  For each, please rate how concerned you are about their impact using a scale from 1 to 7. If you are not at all concerned, give the area a rating of 1. If you are extremely concerned, give it a rating of 7. Of course, you can choose any number between 1 and 7 for your answer.

    {% formfield player.q011 %}
    {% formfield player.q021 %}
    {% formfield player.q031 %}
    {% formfield player.q041 %}
    {% formfield player.q051 %}
    {% formfield player.q061 %}
    {% formfield player.q071 %}
    {% formfield player.q081 %}
    {% formfield player.q091 %}
    {% formfield player.q101 %}
    {% formfield player.q111 %}
    {% formfield player.q121 %}
    {% formfield player.q131 %}
    {% formfield player.q141 %}
    {% next_button %}

{% endblock %}
