{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

    {% formfield player.q011 %}
    {% formfield player.q021 %}
    {% formfield player.q031 %}
    {% formfield player.q041 %}
    {% formfield player.q051 %}
    {% formfield player.q061 %}
    {% formfield player.q071 %}
    {% formfield player.q081 %}
    {% formfield player.q091 %}
    {% formfield player.q101 %}
    {% formfield player.q111 %}
    {% formfield player.q121 %}
    {% formfield player.q131 %}
    {% formfield player.q141 %}
    {% next_button %}

{% endblock %}
