{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
    Quiz 2
{% endblock %}


{% block content %}

    <span style="font-size:18px;"><b>People often express concern about environmental problems, but some people differ as to which consequences concern them the most. We are going to list different areas where environmental problems could have harmful consequences.  For each, please rate how concerned you are about their impact using a scale from 1 to 7. If you are not at all concerned, give the area a rating of 1. If you are extremely concerned, give it a rating of 7. Of course, you can choose any number between 1 and 7 for your answer.</b></span>
    <br>
<div>
    <table class="table">

    <tr>
        <td><span style="font-size:18px;">{{ form.q1.label }}</span></td>
    {% for choice in form.q1 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q2.label }}</span></td>
    {% for choice in form.q2 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q3.label }}</span></td>
    {% for choice in form.q3 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q4.label }}</span></td>
    {% for choice in form.q4 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q5.label }}</span></td>
    {% for choice in form.q5 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q6.label }}</span></td>
    {% for choice in form.q6 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q7.label }}</span></td>
    {% for choice in form.q7 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q8.label }}</span></td>
    {% for choice in form.q8 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q9.label }}</span></td>
    {% for choice in form.q9 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q10.label }}</span></td>
    {% for choice in form.q10 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q11.label }}</span></td>
    {% for choice in form.q11 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td><span style="font-size:18px;">{{ form.q12.label }}</span></td>
    {% for choice in form.q12 %}
        <td><span style="font-size:18px;">{{ choice }}</span></td>
    {% endfor %}
    </tr>
    </table>
</div>
    <span style="font-size:18px;">{% formfield player.q021 %}</span>
    <span style="font-size:18px;">{% formfield player.q031 %}</span>
    <span style="font-size:18px;">{% formfield player.q041 %}</span>
    <span style="font-size:18px;">{% formfield player.q042 %}</span>
    <span style="font-size:18px;">{% formfield player.q051 %}</span>
    <span style="font-size:18px;">{% formfield player.q061 %}</span>
    <span style="font-size:18px;">{% formfield player.q071 %}</span>
    <span style="font-size:18px;">{% formfield player.q081 %}</span>
    <span style="font-size:18px;">{% formfield player.q082 %}</span>
    <span style="font-size:18px;">{% formfield player.q091 %}</span>
    <span style="font-size:18px;">{% formfield player.q101 %}</span>
    <span style="font-size:18px;">{% formfield player.q111 %}</span>
    <span style="font-size:18px;">{% formfield player.q112 %}</span>
    <span style="font-size:18px;">{% formfield player.q121 %}</span>
    <span style="font-size:18px;">{% formfield player.q131 %}</span>
    <span style="font-size:18px;">{% formfield player.q141 %}</span>

    Code: {{ session.code }}::::{{ player.participant.code }}


    {% block scripts %}

    <!-- define a script -->
    <script>
$.fn.randomize = function(selector){
    var $elems = selector ? $(this).find(selector) : $(this).children(),
        $parents = $elems.parent();

    $parents.each(function(){
        $(this).children(selector).sort(function(){
            return Math.round(Math.random()) - 0.5;
        // }). remove().appendTo(this); // 2014-05-24: Removed `random` but leaving for reference. See notes under 'ANOTHER EDIT'
        }).detach().appendTo(this);
    });

    return this;
};
$('table').randomize('tr');
    </script>

{% endblock %}

    <div align="right">
      {% next_button %}
    </div>
{% endblock %}
