{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
    <p style="font-size:25px">Rules of play: </p>
    <br>
    <p style="font-size:18px;">In the game, there are {{ players_in_group }}  players who represent people living in the same apartment building. Thus, in addition to you, there are {{ other_players}} other players. The building is trying to meet a group energy conservation goal of reducing its annual energy use by {{ goal }}% through the actions of residents. Every player faces the same decision-making problem. At the beginning of the experiment, you will receive {{ endowment }} in your private account. During the experiment, you can use money from your account or not. In the end, your private account balance will be paid out to you in cash. You will be making your decisions anonymously.</p>
    <p style="font-size:18px;">During the course of the experiment, you will be playing exactly 8 rounds. In each round, you can invest some of your money into the community’s efforts to reduce energy consumption. Thus, in each round of the game, all {{ players_in_group }}  players will be asked simultaneously, How much do you want to invest into energy conservation? Possible contributions are $0, $.50, or $1. Only when each player has made their choice will all decisions be displayed. After each round, the computer will credit each player’s contribution to the energy conservation account and deduct them from their private accounts. At the end of the game (after exactly 8 rounds), the computer will compare the conservation account balance with the predetermined goal ( {{ goal_financial }} ) needed to reduce the buildings energy consumption.  Meeting the goal requires every player to contribute $.50 per round on average into the conservation account.</p>
    <p style="font-size:18px;"><span><b>If the conservation account has {{ goal_financial }} or more at the end of the game, each player will be paid an equal share of a cash incentive equal to three times the total investment in the conservation account.</b></span> For instance, if {{ goal_financial }} has been contributed to the conservation account, all players will receive a bonus of $12 in addition to the money in their private account. If the conservation account has not reached the necessary amount of {{ goal_financial }}, no additional incentive payment will be made from the conservation account. All payouts will be made anonymously. Your fellow players will not learn your identity.</p>
    <p style="font-size:18px;">If you have any questions about these instructions please ask the research team.</p>
    <br>
    <br>
    <div align="right">
      {% next_button %}
    </div>
{% endblock %}