{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h1 style="font-weight: bold;">  Welcome to the experiment! </h1> <br>
    <h2 style="font-weight: bold;">  General notice: </h2>  <br>
    Household energy use is an important contributor to many environmental problems including air and water pollution and global warming. Many groups are seeking ways to encourage communities to use less energy. In this experiment, you will play a game simulating a household energy conservation challenge.
    <br>
    To make this experiment a success, please do not talk to the other participants at all or draw any other attention to yourself. Please read the following rules of the experiment attentively. Should you have any questions, please signal us.
</div>
    <div align="right">
      {% next_button %}
    </div>
{% endblock %}