{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz
{% endblock %}
{% block content %}
    <br>
    <div>
        <span style="font-size:18px;"><b>1. How much does each player have to invest into the conservation account, on average, for each round to meet the goal?</b></span>
        <br>
        <span style="font-size:18px;">{{ answers.0.1 }}</span><br>
    {% if answers.0.0 == 1 %}
        <span style="font-size:18px;"><p style="color:green">{{ answers.0.2 }}</p></span>
    {% else %}
        <span style="font-size:18px;"><p style="color:red">Incorrect!<br>{{ answers.0.2 }}</p></span>
    {% endif %}
    <br>
        <span style="font-size:18px;"><b>2. Assume the goal has been met, total payments from the conservation account are equal to what amount?</b></span>
        <br>
        <span style="font-size:18px;">{{ answers.1.1 }}</span>
    {% if answers.1.0 == 1 %}
        <span style="font-size:18px;"><p style="color:green">{{ answers.1.2 }}</p></span>
    {% else %}
        <span style="font-size:18px;"><p style="color:red">Incorrect!<br>{{ answers.1.2 }}</p></span>
    {% endif %}
    <br>
        <span style="font-size:18px;"><b>3. Assume the 6 players in the game have contributed $24.00 to the conservation account, meeting the account goal. How much will each player receive as a bonus for meeting the conservation account goal? Each player will receive: </b></span>

        <br>
        <span style="font-size:18px;">{{ answers.2.1 }}</span>
    {% if answers.2.0 == 1 %}
        <span style="font-size:18px;"><p style="color:green">{{ answers.2.2 }}</p></span>
    {% else %}
        <span style="font-size:18px;"><p style="color:red">Incorrect!<br>{{ answers.2.2 }}</p></span>
    {% endif %}
    <br>



</div>
<div align="right">1/2</div>
    <br>
    <br>
        <div align="right">
      {% next_button %}
    </div>

Code: {{ session.code }}::::{{ player.participant.code }}
{% endblock %}