{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz
{% endblock %}
{% block content %}
    <br>
    <div>
        <b>How much does each player have to invest into the conservation account, on average, for each round to meet the goal?</b>
    <br>
    <b>Assume $30 has been contributed to the conservation account by the end of the experiment, and you have personally invested a total of $5 over the 8 rounds, leaving $11 in your private account. How much money will you receive at the end of the experiment, after the conservation account bonus incentive has been paid? My payout is $_____?</b>

    <br>
        <span style="font-size:18px;">{{ answers.0.1 }}</span>
    {% if answers.0.0 == 1 %}
        <span style="font-size:18px;"><p style="color:green">{{ answers.0.2 }}</p></span>
    {% else %}
        <span style="font-size:18px;"><p style="color:red">Incorrect!<br>{{ answers.0.2 }}</p></span>
    {% endif %}
    <br>
        <span style="font-size:18px;"><b>Please assume that the goal of $24 has NOT been contributed to the conservation account and you have invested a total of $5 in the 8 rounds, leaving $11 in your private account. How much money will you receive at the end of the experiment. My payout is $_____?</b></span>

        <br>
    {{ answers.1.1 }}
    {% if answers.1.0 == 1 %}
        <span style="font-size:18px;"><p style="color:green">{{ answers.1.2 }}</p></span>
    {% else %}
        <span style="font-size:18px;"><p style="color:red">Incorrect!<br>{{ answers.1.2 }}</p></span>
    {% endif %}
    <br>
        <span style="font-size:18px;"><b>Is it possible to meet the conservation account goal even if one player does not contribute to the goal at all?</b></span>


        <br>
        <span style="font-size:18px;">{{ answers.2.1 }}</span>
    {% if answers.2.0 == 1 %}
        <span style="font-size:18px;"><p style="color:green">{{ answers.2.2 }}</p></span>
    {% else %}
        <span style="font-size:18px;"><p style="color:red">Incorrect!<br>{{ answers.2.2 }}</p></span>
    {% endif %}
    <br>


</div>

        <div align="right">
      {% next_button %}
    </div>

Code: {{ session.code }}::::{{ player.participant.code }}
{% endblock %}