{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz
{% endblock %}
{% block content %}
    <br>
    <div>
        <b>How much does each player have to invest into the conservation account, on average, for each round to meet the goal?</b>
        <br>
    {{ answers.0.1 }}
    {% if answers.0.0 == 1 %}
    <p style="color:green">{{ answers.0.2 }}</p>
    {% else %}
    <p style="color:red">{{ answers.0.2 }}</p>
    {% endif %}
    <br>
        <b>Assuming the goal has been met, total payments from the conservation account are equal to what amount?</b>

        <br>
    {{ answers.1.1 }}
    {% if answers.1.0 == 1 %}
    <p style="color:green">{{ answers.1.2 }}</p>
    {% else %}
    <p style="color:red">{{ answers.1.2 }}</p>
    {% endif %}
    <br>
    <b>Please assume that the goal of $24 has been contributed to the conservation account. If there are 6 players in the game, how much will each player receive as a bonus for meeting the conservation account goal?</b>

        <br>
    {{ answers.2.1 }}
    {% if answers.2.0 == 1 %}
    <p style="color:green">{{ answers.2.2 }}</p>
    {% else %}
    <p style="color:red">{{ answers.2.2 }}</p>
    {% endif %}
    <br>
    <b>Assume $30 has been contributed to the conservation account by the end of the experiment, and you have personally invested a total of $5 over the 8 rounds, leaving $11 in your private account. How much money will you receive at the end of the experiment, after the conservation account bonus incentive has been paid? My payout is $_____?</b>

        <br>
    {{ answers.3.1 }}
    {% if answers.3.0 == 1 %}
    <p style="color:green">{{ answers.3.2 }}</p>
    {% else %}
    <p style="color:red">{{ answers.3.2 }}</p>
    {% endif %}
    <br>
    <b>Please assume that the goal of $24 has NOT been contributed to the conservation account and you have invested a total of $5 in the 8 rounds, leaving $11 in your private account. How much money will you receive at the end of the experiment. My payout is $_____?</b>

        <br>
    {{ answers.4.1 }}
    {% if answers.4.0 == 1 %}
    <p style="color:green">{{ answers.4.2 }}</p>
    {% else %}
    <p style="color:red">{{ answers.4.2 }}</p>
    {% endif %}
    <br>
    <b>Is it possible to meet the conservation account goal even if one player does not contribute to the goal at all?</b>


        <br>
    {{ answers.5.1 }}
    {% if answers.5.0 == 1 %}
    <p style="color:green">{{ answers.5.2 }}</p>
    {% else %}
    <p style="color:red">{{ answers.5.2 }}</p>
    {% endif %}
    <br>


</div>

        <div align="right">
      {% next_button %}
    </div>

Code: {{ player.participant.code }}
{% endblock %}