{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz
{% endblock %}

{% block content %}

    <span style="font-size:18px;"><p>{% formfield player.q4 %}</p></span>
    <span style="font-size:18px;">{% formfield player.q5 %}</span>
    <span style="font-size:18px;">{% formfield player.q6 %}</span>
    <div align="right">2/2</div>
    <br>
    <br>
    <div align="right">
      {% next_button %}
    </div>
Code: {{ session.code }}::::{{ player.participant.code }}
{% endblock %}