{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz
{% endblock %}

{% block content %}
    <p style="font-size:18px">Now that you have read the instructions, we will give you a basic quiz to confirm that you understand the rules of the game.  You will be paid an additional $.50 for each correct answer in the quiz.</p>
    <br>
    <p style="font-size:18px;">{% formfield player.q4 %}</p>
    <p style="font-size:18px;">{% formfield player.q5 %}</p>
    <p style="font-size:18px;">{% formfield player.q6 %}</p>


    <div align="right">
      {% next_button %}
    </div>
Code: {{ session.code }}::::{{ player.participant.code }}
{% endblock %}