{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz
{% endblock %}
{% block content %}
    <br>
    <div>
        <b>How much does each player have to invest into the conservation account, on average, for each round to meet the goal?</b>
        <br>
    {{ answers.0.1 }}
    {% if answers.0.0 == 1 %}
    <p style="color:green">{{ answers.0.2 }}</p>
    {% else %}
        <p style="color:red">Incorrect!<br>{{ answers.0.2 }}</p>
    {% endif %}
    <br>
        <b>Assuming the goal has been met, total payments from the conservation account are equal to what amount?</b>

        <br>
    {{ answers.1.1 }}
    {% if answers.1.0 == 1 %}
    <p style="color:green">{{ answers.1.2 }}</p>
    {% else %}
        <p style="color:red">Incorrect!<br>{{ answers.1.2 }}</p>
    {% endif %}
    <br>
    <b>Please assume that the goal of $24 has been contributed to the conservation account. If there are 6 players in the game, how much will each player receive as a bonus for meeting the conservation account goal?</b>

        <br>
    {{ answers.2.1 }}
    {% if answers.2.0 == 1 %}
    <p style="color:green">{{ answers.2.2 }}</p>
    {% else %}
        <p style="color:red">Incorrect!<br>{{ answers.2.2 }}</p>
    {% endif %}
    <br>



</div>

        <div align="right">
      {% next_button %}
    </div>

Code: {{ player.participant.code }}
{% endblock %}