{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz
{% endblock %}

{% block content %}
    Now that you have read the instructions, we will give you a basic quiz to confirm that you understand the rules of the game.  You will be paid an additional $.50 for each correct answer in the quiz.
    <br>
    {% formfield player.q1 %}
    {% formfield player.q2 %}
    {% formfield player.q3 %}
    {% formfield player.q4 %}
    {% formfield player.q5 %}
    {% formfield player.q6 %}


    <div align="right">
      {% next_button %}
    </div>

{% endblock %}