{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Quiz

{% endblock %}

{% block content %}

    <p style="font-size:18px">Now that you have read the instructions, we will give you a basic quiz to confirm that you understand the rules of the game.  You will be paid an additional $0.50 for each correct answer in the quiz. You will get answers to each of the questions in the next section.</p>
    <br>
    <span style="font-size:18px;">{% formfield player.q1 %}</span>
    <span style="font-size:18px;">{% formfield player.q2 %}</span>
    <span style="font-size:18px;">{% formfield player.q3 %}</span>
    <div align="right">1/2</div>
    <br>
    <br>
    <div align="right">
      {% next_button %}
    </div>
Code: {{ session.code }}::::{{ player.participant.code }}
{% endblock %}